body {
  background-color: gray;
}

.board {
  width: 660px;
  height: 660px;
}

.empty {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: white;
  float: right;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}
