body {
  background-color: gray;
}

.page-header {
  color: #b30000;
}

.board {
  width: 660px;
  height: 660px;
}

.empty {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: white;
  float: right;
}

/*@keyframes appear {
  0% {
    transform: scale(1);
    transform: rotate(180deg);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}*/

.player1 {
  background-image: url("../X-128.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: appear;
  animation-duration: 1s;
}

.player2 {
  background-image: url("../O-128.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: appear;
  animation-duration: 1s;
}
